## Taxi model

### Load data

In [3]:
#we use our reduced data 
#reduced data is in train_reduced.csv this file is created by data_exploration.ipynb from original google data
#sorry original data isnt included to my git profile because of its size
#please download it if you need from https://www.kaggle.com/c/new-york-city-taxi-fare-prediction/data
#load reduced data
import numpy as np
import pandas as pd
data = pd.read_csv('data/train_reduced.csv')

In [4]:
data.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance,pickup_hour,pickup_day,pickup_month,pickup_year,delta_longitude,delta_latitude,distance_round
count,481946.000000,481946.000000,481946.000000,481946.000000,481946.000000,481946.000000,481946.000000,481946.000000,481946.000000,481946.00000,481946.000000,481946.000000,481946.000000,481946.000000
mean,11.304652,-73.975643,40.750855,-73.974648,40.751230,1.690225,3.343113,13.513263,15.677128,6.27225,2011.743509,-0.000995,-0.000375,3.343114
std,9.483915,0.034142,0.026664,0.033814,0.030554,1.306124,3.545694,6.508815,8.681614,3.43971,1.867383,0.040683,0.031137,3.545838
min,0.000000,-74.295537,40.511087,-74.294613,40.505648,1.000000,0.000072,0.000000,1.000000,1.00000,2009.000000,-0.515475,-0.256640,0.000000
25%,6.000000,-73.992277,40.736583,-73.991574,40.735632,1.000000,1.280182,9.000000,8.000000,3.00000,2010.000000,-0.014100,-0.014537,1.300000
50%,8.500000,-73.982110,40.753390,-73.980629,40.753886,1.000000,2.177169,14.000000,16.000000,6.00000,2012.000000,-0.001155,-0.000148,2.200000
75%,12.500000,-73.968515,40.767467,-73.965495,40.768401,2.000000,3.950948,19.000000,23.000000,9.00000,2013.000000,0.011707,0.014197,4.000000
max,450.000000,-73.702142,40.899955,-73.700155,40.900000,6.000000,45.643764,23.000000,31.000000,12.00000,2015.000000,0.451703,0.233452,45.600000

### Split dataset to train,test

In [5]:
fare_amount = data['fare_amount']

In [16]:
#split data set into train, test
#because of calculation performance limit total amount of data.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( data[['pickup_hour','pickup_year','pickup_latitude',
                                                           'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude']], fare_amount, train_size=20000, test_size=2000, random_state=42)

### SVM - SVR from sklearn

In [17]:
#svr
from sklearn.svm import SVR
single_svr = SVR(kernel='rbf', gamma=57, C=50, epsilon=0.2, verbose=True)
single_svr.fit(X_train, y_train)

[LibSVM]

SVR(C=50, cache_size=200, coef0=0.0, degree=3, epsilon=0.2, gamma=57,
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=True)

In [18]:
y_pred = single_svr.predict(X_test)

In [19]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(rmse)

4.543806777722515